<div class="rack">
  <ngx-gridster [options]="gridsterOptions" [draggableOptions]="{ handlerClass: 'equipment--header' }">
    <ngx-gridster-item
      (change)="itemChanged($event, equipment)"
      *ngFor="let equipment of equipments"
      [x]="equipment.x"
      [y]="equipment.y"
      [w]="equipment.width"
      [h]="equipment.height">
      <div class="equipment">
        <div class="equipment--header">{{ equipment.name }}</div>
        <div
          class="equipment--content"
          [nexusComponent]="equipment?.equipmentType === 0 && equipment"
          [toneJsUi]="equipment?.equipmentType === 1 && equipment"
          (onEquipmentEvent)="handleEquipmentEvent($event, equipment)">
        </div>
      </div>
    </ngx-gridster-item>
  </ngx-gridster>
</div>
