<div class="rack">
  <ngx-gridster [options]="gridsterOptions" [draggableOptions]="{ handlerClass: 'equipment-header' }">
    <ngx-gridster-item
      (change)="itemChanged($event, equipment)"
      *ngFor="let equipment of equipments"
      [(x)]="equipment.x"
      [(y)]="equipment.y"
      [(w)]="equipment.width"
      [(h)]="equipment.height">
      <ng-container *ngIf="equipment.equipmentType===0 && equipment">
        <div class="equipment">
          <div class="equipment-header">{{equipment.name }}</div>
          <div
            class="equipment-content"
            [nexusComponent]="equipment"
            (onEquipmentEvent)="handleEquipmentEvent($event, equipment)">
        </div>
       </div>
      </ng-container>
      <ng-container *ngIf="equipment.equipmentType===1 && equipment">
        <div
          (onEquipmentEvent)="handleEquipmentEvent($event, equipment)"
          [toneJsUi]="equipment">
        
        </div>
      </ng-container>
    </ngx-gridster-item>
  </ngx-gridster>
</div>
